:root {
    --bg: rgba(0,0,0,0.7);
    --main: #9ba2a7;
    --color1: #475B67;
    --background: #101215;
    --color9: #475B67;
    --color7: #c3c3c4;
    --color14: #768080;
    --color10: #556973;
    --color3: #67747B;
    --cursor: #c3c3c4;
    --color2: #556973;
    --color5: #6D7B85;
    --color13: #6D7B85;
    --color0: #101215;
    --color15: #c3c3c4;
    --color6: #768080;
    --color4: #5D7281;
    --foreground: #c3c3c4;
    --color11: #67747B;
    --color8: #5a616e;
    --color12: #5D7281;
}
*{
	font-size: 16px;
	color: var(--main);
	font-weight: 600;
	font-family: "JetBrainsMono NFP", "Ndot 55";
	margin: 0;
	padding: 0;
    outline: none !important;
}
.yasb-bar {
	padding: 0;
	margin: 0;
    background-color: #191724;
    border-radius: 13px;
    
}
.widget {
	padding: 0 12px;
	margin: 0;
}
.icon {
	font-size: 16px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 0px;
    color: var(--main);
}
.widget .label {
	padding: 0px 2px;
    color
}




.komorebi-workspaces .offline-status {
    color: var(--main);
    font-size: 12px;
    padding: 0 0 0 4px;
    font-weight:600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    color: var(--main);
	margin:0;
    font-size: 24px;
    height: 34px;
    width: 28px;
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}
.komorebi-workspaces .ws-btn:hover {
    background: transparent;
    border-radius: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    outline: none !important;
    box-shadow: none !important;

    background-color: var(--color9);
}
.komorebi-workspaces .ws-btn.populated {
    color: var(--main);
    font-size:15px;
    outline: none !important;
    box-shadow: none !important;
}
.komorebi-workspaces .ws-btn.active {
    background-color: var(--color9);
    border-radius: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    outline: none !important;
    box-shadow: none !important;

}
.komorebi-workspaces .ws-btn.active:hover {
    background-color: var(--color2);
    outline: none !important;
    box-shadow: none !important;
}

.volume-widget .icon {
    padding-right: 3px;
    padding-left: 0px;
    font-size: 14px;
    max-width: 20px;
    min-width: 22px;
    margin-left: 2px;
}
.clock-widget .icon {
    color: var(--blue);
    padding-right: 6px;
    padding-left: 0px;
}
.volume-slider {
    border: none;
}
.audio-menu {
    background-color:rgba(13, 6, 10, 0.3);
}
.audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
.calendar {
    background-color: rgba(17, 17, 27, 0.4);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0);
    color: rgba(162, 177, 196, 0.85);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.calendar .calendar-table::item:selected {
    color: rgb(255, 255, 255);
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}
.volume-slider {
    border: none;
}

.audio-menu {
    background-color:rgba(17, 17, 27, 0.4);
}
.audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 0px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
.div-widget .label {
    color: var(--surface1)
}
.div-widget {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.volume-widget {
    margin-right: 3px;
}
.clock-widget {
    margin: 0;
    padding: 0;
}
.widget {
    padding: 0;
}
.wifi-widget {
    margin-right: 8px;
}
.brightness-widget {
    margin-right: 2px;
    margin-left: 0px;
}
.brightness-widget .icon {
    margin-left: 0px;
    padding-left: 0px;
}
.systray {
    background: transparent;
    border: None;
    margin: 0;
}

.systray .unpinned-container {
    background: transparent;
    border-radius: 8px;
}

.systray .pinned-container {
    background: transparent;
}

.systray .pinned-container[forceshow=true] {
    background: red;
}

.systray .button {
    border-radius: 4px;
    padding: 2px 2px;
}

.systray .button:hover {
    background: #727272;
}

.systray .button[dragging=true] {
    background: orange;
    border-color: #FF8800;
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
}

.systray .unpinned-visibility-btn:checked {
    background: transparent;
}

.systray .unpinned-visibility-btn:hover {
    border: 0px solid #AAAAAA;
    border-radius: 4px;
    border-color: #AAAAAA;
}
.wallpapers-widget {
font-size: 16px;
   
padding: 0 6px 0 6px;

}
.wallpapers-widget .icon {
    font-size: 16px;
    display: none;
   
    
   
   
}
.wallpapers-gallery-window {
    background-color: rgba(24, 24, 37, 220);
    border: 0;
    margin: 0;
}
.wallpapers-gallery-buttons {
    background-color:rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin:0 8px 8px 8px;
    width: 600px;
}
.wallpapers-gallery-buttons:hover {
    background-color:rgba(255, 255, 255, 0.1)
}
.wallpapers-gallery-image {
    border: 2px solid transparent;
    border-radius: 13px;
    overflow: hidden; /* biar gambar isi kontainer tanpa pecah */
}

.wallpapers-gallery-image:hover {
    
}
.wallpapers-gallery-image.focused {
    border: 3px solid #dc8a78;
}
/* --- Power Menu Popup --- */
/* Uptime text */
.uptime {
    font-size: 12px;
    margin: 0 0 4px;
}
.power-menu-widget .label {
    font-size: 14px;
    margin-left: 0px;
}
.power-menu-popup {
    background-color: rgba(2, 2, 2, 0.466);
    border-radius: 12px;
    border: 0px solid rgb(0, 0, 0);
}
.power-menu-popup .button {
    padding: 0;
    width: 150px;
    height: 110px;
    border-radius: 10px;
    background-color: rgba(66, 66, 68, 0.247);
    color: white;
    border: 0px solid rgba(255, 255, 255, 0.1);
    margin: 4px;
}


.power-menu-popup .button.hover {
    background-color: rgb(64, 64, 68);
    border: 0px solid rgb(26, 26, 27);
}
.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.425);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.power-menu-popup .button .icon {
    font-size: 42px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.25);
}
.power-menu-popup .button.cancel .icon {
    color: rgba(139, 201, 243, 0.568);
}
.power-menu-popup .button.cancel .label {
    color: rgba(139, 201, 243, 0.568);
}
.power-menu-popup .button.shutdown .icon {
    color: rgba(255, 9, 9, 0.685);
}
.power-menu-popup .button.shutdown .label {
    color: rgba(255, 9, 9, 0.685);
}
.cava-widget {
    
	margin:  0 0px 0 -7px;
}
.cava-widget .widget-container {}
/* TASBAR WIDGET */
.taskbar-widget {
    padding: 0;
    margin: 0;
}
.taskbar-widget .app-icon {
    padding:0 3px;
}
/* WEATHER WIDGET */
.weather-widget {
    padding: 0 0px;
}


.weather-widget .icon {
    padding:0 4px;
}

/* Weather card style */
.weather-card {
    background-color: rgba(17, 17, 27, 0.5);
}
.weather-card-today {}
.weather-card-today .label {
    font-size: 12px;
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 700;
}
.weather-card-day {
    border: 1px solid #45475a;
    border-radius: 8px;
    background-color:  rgba(17, 17, 27, 0.2);
}
.weather-card-day .label {
    font-size: 12px;
}
/* Widget style */
.launchpad-widget {
    padding: 0 6px 0 6px;
}
.launchpad-widget .label {}
.launchpad-widget .icon {
    font-size: 16px;
    color: #89b4fa;
}

/* Launchpad context menu style */
.launchpad .context-menu {
    background-color: #202020;
    border: none;
    border-radius: 6px;
    padding: 4px 0px;
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 600
}
.launchpad .context-menu::item {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 4px;
    min-width: 100px;
}
.launchpad .context-menu::item:selected {
    background-color: #3a3a3a;
    color: #FFFFFF;
}
.launchpad .context-menu::item:pressed {
    background-color: #3A3A3A;
}
.launchpad .context-menu::separator {
    height: 1px;
    background-color: #404040;
    margin: 4px 8px;
}
.launchpad .context-menu::item:disabled {
    color: #666666;
    background-color: transparent;
}

/* Launchpad App dialog style */
.launchpad .app-dialog {
    font-family: 'Segoe UI';
    background-color: #202020;
}
.launchpad .app-dialog .buttons-container {
    background-color: #171717;
    margin-top: 16px;
    border-top: 1px solid #000;
    max-height: 80px;
    min-height: 80px;
    padding: 0 20px 0 20px;
}
.launchpad .app-dialog .message {
    color: #FFFFFF;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0
}
.launchpad .app-dialog .title-field,
.launchpad .app-dialog .path-field,
.launchpad .app-dialog .icon-field {
    background-color: #181818;
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 10px 0px 5px 0;
    min-height: 30px;
}
.launchpad .app-dialog .title-field:focus,
.launchpad .app-dialog .path-field:focus,
.launchpad .app-dialog .icon-field:focus {
    border-bottom-color: #4cc2ff;
}
.launchpad .app-dialog .button {
    background-color: #2d2d2d;
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    min-width: 80px;
    padding: 0 6px;
    margin: 10px 0 5px 6px;
    min-height: 28px;
    outline: none;
}
.launchpad .app-dialog .buttons-container .button {
    margin: 10px 0 5px 0px;
    font-size: 13px;
}
.launchpad .app-dialog .button:focus {
    border: 2px solid #adadad;
}
.launchpad .app-dialog .button:focus,
.launchpad .app-dialog .button:hover {
    background-color: #4A4A4A;
}
.launchpad .app-dialog .button:pressed {
    background-color: #3A3A3A;
}
.launchpad .app-dialog .button.add,
.launchpad .app-dialog .button.save {
    background-color: #0078D4;
}
.launchpad .app-dialog .button.add:focus,
.launchpad .app-dialog .button.save:focus,
.launchpad .app-dialog .button.add:hover,
.launchpad .app-dialog .button.save:hover {
    background-color: #0066B2;
}
.launchpad .app-dialog .button.add:pressed,
.launchpad .app-dialog .button.save:pressed {
    background-color: #00509E;
}
.launchpad .app-dialog .button.delete {
    background-color: #bd2d14;
}
.launchpad .app-dialog .button.delete:focus,
.launchpad .app-dialog .button.delete:hover {
    background-color: #b30f00;
}
.launchpad .app-dialog .button.delete:pressed {
    background-color: #a00b00;
}
.launchpad .app-dialog .warning-message {
    background-color: #2b0b0e;
    border: 1px solid #5a303c;
    border-radius: 4px;
    color: #cc9b9f;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 4px 0px;
}
/* Launchpad popup style */
.launchpad .drop-overlay {
    background-color: rgba(24, 25, 27, 0.8);
    border:4px dashed #3c80ff;
}
.launchpad .drop-overlay .text {
    color: #ffffff;
    font-family: 'Segoe UI';
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
}
.launchpad .launchpad-container {
    background-color: rgba(24, 25, 27, 0.8);
}
.launchpad .search-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color:rgba(0, 0, 0, 0.3);
    min-height: 80px;
    margin: 0;
    padding: 0
}
.launchpad .search-input {
    max-width: 400px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    font-family: 'Segoe UI';
    border-radius: 20px;
    border: 2px solid rgb(53, 54, 56);
    background-color: rgba(0, 0, 0, 0.507);
    color: #a6adc8;
}
.launchpad .search-input:focus  {
    border: 2px solid rgb(22, 114, 190);
    background-color: rgba(255, 255, 255, 0.05);
}
.launchpad .launchpad-scroll-area {
    background-color: transparent;
    border: none;
}
.launchpad .app-icon {
    background-color: rgba(102, 10, 10, 0);
    border-radius: 12px;
    border: 2px solid rgba(112, 76, 32, 0);
    padding-top: 10px;
    margin: 24px 6px 6px 6px;
    max-width: 110px;
    min-width: 110px;
    min-height: 110px;
    max-height: 110px; 
}
.launchpad .app-icon:focus {
    border: 2px solid #89b4fa;
    background-color: rgba(255, 255, 255, 0.06);
}
.launchpad .app-icon:hover {
    border: 2px solid #89b4fa;
    background-color: rgba(255, 255, 255, 0.13);
}
.launchpad .app-icon .title {
    color: #a6adc8;
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-top: 2px;
    font-weight: 600
}
/* App icon .launchpad .app-icon or URL icon .launchpad .app-icon.url */
.launchpad .app-icon.url .title{
    color: #52f1d2;
}
.launchpad .app-icon .icon {
    padding: 0;
    margin: 0
}
.memory-widget .icon {
     font-size: 14px;
}
.memory-widget .progress-circle {
    font-size: 14px;
}

.weather-card .hourly-container {
    border: 1px solid #282936;
    background-color: transparent;
    border-radius: 8px;
    min-height: 250px;
}

.weather-card .hourly-data {
    /* font-family: 'Segoe UI';*/
    /* color: cyan;*/ /* <- Font color */
    background-color: #FAE93F; /* <- Curve color */
    font-size: 12px;
    font-weight: bold;
}

.whkd-widget {
    padding: 0 6px 0 6px;
}
.whkd-widget .icon {
    font-size: 18px;
}
.whkd-popup .edit-config-button {
    background-color:#1743a1;
    color: #ffffff;
    padding: 4px 8px 6px 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Segoe UI', sans-serif;
}

.whkd-popup .keybind-buttons-container {
    min-width: 240px;
}
.whkd-popup .keybind-button {
    background-color: #343538;
    color: white;
    padding: 4px 8px 6px 8px;
    font-size: 14px;
    font-weight: 600;
    border: 1px inset #4f5055;
    border-bottom: 2px inset #4f5055;
    border-radius: 4px;
    font-family: 'JetBrainsMono NFP';
}
.whkd-popup .keybind-button.special {
    background-color: #343538;
}
.whkd-popup .keybind-row:hover{
    background-color: rgba(136, 138, 155, 0.2);
    border-radius: 8px;
}
.whkd-popup .plus-separator {
    padding: 0 0px;
    border:none;
    font-size: 16px;
    font-weight: bold;
    background-color:transparent
}
.whkd-popup .filter-input {
    padding: 0 8px 2px 8px;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    outline: none;
    color: white;
    background-color: #2e2e2e;
    min-height: 32px;
}
.whkd-popup .filter-input:focus {
    border: 1px solid #0078D4;
}
.whkd-popup .keybind-command {
    font-size: 14px;
}
.whkd-popup .keybind-header {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 8px 0;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
